.donation-container {
    margin: 0 auto;
    padding: 100px;
    background: url('../assets/img/bg2.png');
    color: #fff;
  }
  *{
    font-family: 'Montserrat', sans-serif;
  }
  .donation-container h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  .donation-container p {
    font-size: 1.25rem;
    margin-bottom: 40px;
  }
  
  .success-message,
  .error-message {
    font-size: 1.25rem;
    margin-top: 20px;
  }
  
  .success-message {
    color: #4BB543;
  }
  
  .error-message {
    color: #FF4136;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-control {
    background-color: #262626;
    color: #fff;
    border-color: #262626;
  }
  
  .form-control:focus {
    background-color: #333;
    color: #fff;
    border-color: #333;
  }
  
  .form-label {
    font-size: 1.25rem;
    margin-bottom: 10px;
  }
  
  .btn-primary {
    background-color: #2ecc71;
    border-color: #2ecc71;
    font-size: 1.25rem;
  }
  
  .btn-primary:hover {
    background-color: #27ae60;
    border-color: #27ae60;
  }
  